.Announcement {
    width: 500px;

    margin-top: 0px;
    padding: 20px;
    border-radius: 5px;
    background: #f7f7f7; 
      
}

.Announcement div{
    display: grid;
    grid-template-columns: 15% 85%;
    gap: 10px;
  }
  .Announcement h1{
    white-space: nowrap;
  }
  textarea.specification {
    line-height: 1.5;
  }